<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kids Fitness</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/base_buttons.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ledger&display=swap" rel="stylesheet">
    <script defer src="{% static 'kids_fitness_app/js/base.js' %}"></script>
    {% block links %}
    {% endblock %}
</head>
<body> 
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'kids_fitness_app/img/Group 26.png' %}" alt="Kids Fitness Logo">
        </div>
        <div class="nav flex-column py-3">
            <li class="nav-item button" id="square1" onclick="location.href='';">
                <a href="{% url 'main' %}" class="nav-link d-flex align-items-center" style="padding-left: 10px;">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle1">1</div>
                    <span class="ms-1 text-left-padding">Головна</span>
                </a>
            </li>
            <li class="nav-item button" id="square2" onclick="location.href='gallery';">
                <a href="{% url 'gallery' %}" class="nav-link d-flex align-items-center" style="padding-left: 10px;">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle2">2</div>
                    <span class="ms-1 text-left-padding">Галерея</span>
                </a>
            </li>
            <li class="nav-item button" id="square3" onclick="location.href='service';">
                <a href="{% url 'service' %}" class="nav-link d-flex align-items-center" style="padding-left: 10px;">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle3">3</div>
                    <span class="ms-1 text-left-padding">Послуги</span>
                </a>
            </li>
            <li class="nav-item button" id="square4" onclick="location.href='about_us';">
                <a href="{% url 'about_us' %}" class="nav-link d-flex align-items-center" style="padding-left: 10px;">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle4">4</div>
                    <span class="ms-1 text-left-padding">Про нас</span>
                </a>
            </li>
            <li class="nav-item button" id="square5" onclick="location.href='contacts';">
                <a href="{% url 'contacts' %}" class="nav-link d-flex align-items-center" style="padding-left: 10px;">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle5">5</div>
                    <span class="ms-1 text-left-padding">Контакти</span>
                </a>
            </li>
            <li class="nav-item mt-4 button" id="square6" onclick="location.href='sign_up';">
                <a href="{% url 'sign_up' %}" class="nav-link d-flex align-items-center">
                    <div class="circle d-flex justify-content-center align-items-center" id="circle6" style="font-weight: 700;"><p style="font-weight: bold; font-size: 55px; margin-bottom: 0; ">!</p></div>
                    <span class="ms-1 text-left-padding">Запис</span>
                </a>
            </li>
        </div>
        
        <div class="contact-info">
            <p>ТРЕНЕР:</p>
            <p><a href="tel:+380660827892">+38 (066) 082 78 92</a></p>
            <p>ТЕЛЕГРАМ:</p>
            <p><a href="https://t.me/AnastasiiaRyemyen">@AnastasiaRyemyen</a></p>

            {% if user.is_authenticated %}
                <p>{{user.username}}</p>
                <p><a href="{% url 'logout' %}">Вихід</a></p>   
            {% else %}
                <p><a href="{% url 'login' %}">Вхід</a> | <a href="{% url 'register' %}">Реєстрація</a></p>
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% block scripts %}
    {% endblock %}
</body>
</html>