{% extends 'kids_fitness_app/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/contact.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper row">
        <div class="contact-information col">
            <h1 class="text-center my-4 bold" id="contact-label">НАШI КОНТАКТИ</h1>
            <div class="contact-text my-4">
                <p>Задати питання:</p>
                <p><a href="tel:+380660827892">+38 (066) 082 78 92</a></p>
                <p>або Телеграм:</p>
                <p><a href="https://t.me/AnastasiiaRyemyen">@AnastasiiaRyemyen</a></p>
                <p>або Direct:</p>
                <p><a href="https://www.instagram.com/anastasiia.tkachuk800/">@anastasiia.tkachuk800</a></p>
            </div>
            <div class="contact-address   my-4">
                <p>Адреса:</p>
                <p>КДЦ Дніпропресс вул. Василя Сліпака 35</p>
                <a href="https://maps.app.goo.gl/uar6cVTpMEDXqBCUA" target="_blank">
                    <img src="{% static 'kids_fitness_app/img/GoogleMap.png' %}" style="width: 85%; border: 2px solid black; border-radius: 15px;" alt="Clickable Image">
                </a>
            </div>
        </div>

        <div class="contact-information col">
            <div class="schedule">
                <h5 class="mx-4 bold" id="contact-shedule">Графік тренувань:</h5>
                <div class="schedule-grid mx-5">
                    <img src="{% static 'kids_fitness_app/img/clock.png' %}" alt="Clock" class="clock-img">
                    <div class="time row">
                        <div class="time-main1 col">
                            <p class="time-days1">Пн, Ср, Пт:</p>
                            <div class="time-time1">
                                <p>15:00</p>
                                <p>16:00</p>
                                <p>17:15</p>
                            </div>
                        </div>
                        <div class="time-main2 col ">
                            <p class="time-days2">Вт, Чт:</p>
                            <div class="time-time2">
                                <p>16:00</p>
                                <p>17:15</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="image-links d-flex justify-content-center fixed-bottom">
        <a href="https://www.facebook.com/groups/159212643825421/?_rdr" target="_blank">
            <img src="{% static 'kids_fitness_app/img/facebook.png' %}" alt="facebook" class="image-link">
        </a>
        <a href="https://www.instagram.com/kids_fitness_dnipro/" target="_blank">
            <img src="{% static 'kids_fitness_app/img/inst.png' %}" alt="instagram" class="image-link">
        </a>
        <a href="https://t.me/AnastasiiaRyemyen" target="_blank">
            <img src="{% static 'kids_fitness_app/img/tg.png' %}" alt="telegram" class="image-link">
        </a>
    </div>
{% endblock %}