{% extends 'kids_fitness_app/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/gallery.css' %}">
    <script defer src="{% static 'kids_fitness_app/js/gallery.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center my-4" id="Article">НАША ГАЛЕРЕЯ</h1>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image26.png' %}" alt="Image 1" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image24.png' %}" alt="Image 2" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image17.png' %}" alt="Image 3" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image7.jpg' %}" alt="Image 7" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image8.png' %}" alt="Image 8" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image9.png' %}" alt="Image 9" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image13.png' %}" alt="Image 13" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image14.png' %}" alt="Image 14" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image15.png' %}" alt="Image 15" class="img-fluid fixed-size">
            </div>
            
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image19.png' %}" alt="Image 19" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image20.png' %}" alt="Image 20" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image21.png' %}" alt="Image 21" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image25.png' %}" alt="Image 25" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image26.png' %}" alt="Image 26" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image27.png' %}" alt="Image 27" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image11.png' %}" alt="Image 16" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image22.png' %}" alt="Image 11" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image23.png' %}" alt="Image 12" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image10.png' %}" alt="Image 5" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image16.png' %}" alt="Image 6" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image15.png' %}" alt="Image 4" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image10.png' %}" alt="Image 10" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image10.png' %}" alt="Image 10" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image10.png' %}" alt="Image 10" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image16.png' %}" alt="Image 16" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image17.png' %}" alt="Image 17" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image18.png' %}" alt="Image 18" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image22.png' %}" alt="Image 22" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image23.png' %}" alt="Image 23" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image24.png' %}" alt="Image 24" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image23.png' %}" alt="Image 28" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image21.png' %}" alt="Image 29" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image9.png' %}" alt="Image 30" class="img-fluid fixed-size">
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image5.png' %}" alt="Image 34" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image6.png' %}" alt="Image 30" class="img-fluid fixed-size">
            </div>
            <div class="col p-2">
                <img src="{% static 'kids_fitness_app/img/image6.png' %}" alt="Image 36" class="img-fluid fixed-size">
            </div>
        </div>
    </div>

{% endblock %}