{% extends 'kids_fitness_app/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'kids_fitness_app/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
{% endblock %}
    
{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="caption-block carousel-caption d-flex d-md-block align-items-start ">
                <div class="card">
                    <div class="card-body">
                      <p class="card-text" style="opacity: 100%; color: black;" id="text">Ми віримо, що кожна дитина заслуговує на можливість бути здоровою та активною. Наші тренери мають великий досвід роботи з дітьми різного віку та рівня підготовки. Ми створюємо атмосферу, де діти можуть розвиватися фізично, емоційно та соціально.
                        Приєднуйтесь до нас і дайте своїм дітям найкращі можливості для здорового та активного життя!</p>
                    </div>
                  </div>
              </div>
              <div class="caption-buttons carousel-caption d-flex d-md-block align-items-start ">
                <div class="caption-images">
                    <a href="tel:+380660827892"><img src="{% static 'kids_fitness_app/img/phone.png' %}" alt="phone"></a>
                    <a href="http://surl.li/uktfh"><img src="{% static 'kids_fitness_app/img/map.png' %}" alt="map"></a>
                    <a id="openButton" style="cursor: pointer;"><img src="{% static 'kids_fitness_app/img/ask.png' %}" alt="ask"></a>
                    <dialog id="modal" style="font-size: 30px; width: 500px;">
                        <div class="modal_inner">
                            <form id="form" method="POST" action="{% url 'send_mails' %}">
                                {% csrf_token %}
                                <label for="email">Пошта</label>
                                <input class="b-r" type="email" name="email" id="email" required style="width: 450px;">
                                <br>
                                <label for="password">Питання</label>
                                <textarea class="b-r" name="text" id="password" required style="width: 450px;"></textarea>
                                <button class="b-r" type="button" id="closeButton">Закрити вiкно</button>
                                <button class="b-r" type="submit">Вiдправити</button>
                            </form>
                        </div>
                    </dialog>
                    <script>
                        const openButton = document.getElementById('openButton');
                        const closeButton = document.getElementById('closeButton');
                        const modal = document.getElementById('modal');

                        openButton.addEventListener('click', () => {
                            modal.showModal();
                        });

                        closeButton.addEventListener('click', () => {
                            modal.close();
                        });

                        modal.addEventListener('click', (element) => {
                            const clickBackdrop = element.target === modal;

                            if (clickBackdrop) {
                                modal.close();
                            }
                        });
                    </script>
                </div>
              </div>
            <img style="height: 100vh;" src="{{ image.image.url }}" class="d-block w-100 carousel-image" alt="Slide 1">
            <div class="carousel-caption caption-link d-none d-md-flex align-items-end justify-content-center">
                <div class="image-links d-flex justify-content-around mt-4">
                    <a href="https://www.facebook.com/groups/159212643825421/?_rdr" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/facebook.png' %}" alt="facebook" class="image-link">
                    </a>
                    <a href="https://www.instagram.com/kids_fitness_dnipro/" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/inst.png' %}" alt="instagram" class="image-link">
                    </a>
                    <a href="https://t.me/AnastasiiaRyemyen" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/tg.png' %}" alt="telegram" class="image-link">
                    </a>
                </div>
              </div>
        </div>
        <div class="carousel-item">
            <div class="caption-block carousel-caption d-flex d-md-block align-items-start ">
                <div class="card">
                    <div class="card-body">
                      <p class="card-text" style="opacity: 100%; color: black;" id="text">Ми віримо, що кожна дитина заслуговує на можливість бути здоровою та активною. Наші тренери мають великий досвід роботи з дітьми різного віку та рівня підготовки. Ми створюємо атмосферу, де діти можуть розвиватися фізично, емоційно та соціально.
                        Приєднуйтесь до нас і дайте своїм дітям найкращі можливості для здорового та активного життя!</p>
                    </div>
                  </div>
              </div>
              <div class="caption-buttons carousel-caption d-flex d-md-block align-items-start ">
                <div class="caption-images">
                    <a href="tel:+380660827892"><img src="{% static 'kids_fitness_app/img/phone.png' %}" alt="phone"></a>
                    <a href="http://surl.li/uktfh"><img src="{% static 'kids_fitness_app/img/map.png' %}" alt="map"></a>
                    <a id="openButton" style="cursor: pointer;"><img src="{% static 'kids_fitness_app/img/ask.png' %}" alt="ask"></a>
                </div>
              </div>
            <img style="height: 100vh;" src="{% static 'kids_fitness_app/img/kartinka2.jpg' %}" class="d-block w-100 carousel-image" alt="Slide 2">
            <div class="carousel-caption d-none d-md-flex align-items-end justify-content-center">
                <div class="image-links d-flex justify-content-around mt-4">
                    <a href="https://www.facebook.com/groups/159212643825421/?_rdr" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/facebook.png' %}" alt="facebook" class="image-link">
                    </a>
                    <a href="https://www.instagram.com/kids_fitness_dnipro/" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/inst.png' %}" alt="instagram" class="image-link">
                    </a>
                    <a href="https://t.me/AnastasiiaRyemyen" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/tg.png' %}" alt="telegram" class="image-link">
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="caption-block carousel-caption d-flex d-md-block align-items-start ">
                <div class="card">
                    <div class="card-body">
                      <p class="card-text" style="opacity: 100%; color: black;" id="text">Ми віримо, що кожна дитина заслуговує на можливість бути здоровою та активною. Наші тренери мають великий досвід роботи з дітьми різного віку та рівня підготовки. Ми створюємо атмосферу, де діти можуть розвиватися фізично, емоційно та соціально.
                        Приєднуйтесь до нас і дайте своїм дітям найкращі можливості для здорового та активного життя!</p>
                    </div>
                  </div>
              </div>
              <div class="caption-buttons carousel-caption d-flex d-md-block align-items-start ">
                <div class="caption-images">
                    <a href="tel:+380660827892"><img src="{% static 'kids_fitness_app/img/phone.png' %}" alt="phone"></a>
                    <a href="http://surl.li/uktfh"><img src="{% static 'kids_fitness_app/img/map.png' %}" alt="map"></a>
                    <a id="openButton" style="cursor: pointer;"><img src="{% static 'kids_fitness_app/img/ask.png' %}" alt="ask"></a>
                </div>
              </div>
            <img style="height: 100vh;" src="{% static 'kids_fitness_app/img/kartinka3.jpg' %}" class="d-block w-100   carousel-image" alt="Slide 3">
            <div class="carousel-caption d-none d-md-flex align-items-end justify-content-center">
                <div class="image-links d-flex justify-content-around mt-4">
                    <a href="https://www.facebook.com/groups/159212643825421/?_rdr" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/facebook.png' %}" alt="facebook" class="image-link">
                    </a>
                    <a href="https://www.instagram.com/kids_fitness_dnipro/" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/inst.png' %}" alt="instagram" class="image-link">
                    </a>
                    <a href="https://t.me/AnastasiiaRyemyen" target="_blank">
                        <img src="{% static 'kids_fitness_app/img/tg.png' %}" alt="telegram" class="image-link">
                    </a>
                </div>
              </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script>
        var myCarousel = document.querySelector('#carouselExampleAutoplaying');
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 3500,
            ride: 'carousel'
        });
    </script>
{% endblock %}