body{
    padding: 0;
    margin: 0;
}

.content {
    padding: 0;
}

.main-container {
    height: 100vh; 
    position: relative; 
    margin-left: 30%;
    margin-top: 13%;
}

.bg-image {
    position: absolute;
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-inner {
    background-color: rgba(17,60,101,1);
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-control {
    width: calc(100% - 22px);
    background-color: rgba(17,60,101,1);
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
}

.btn-custom {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(203, 230, 255);
    color: #000;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.paragraph {
    color: #fff;
}

.form-inner input[type="text"],
.form-inner input[type="password"] {
    width: calc(100% - 22px);
    background-color: rgba(17,60,101,1);
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 30px;
}

.form-inner input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(203, 230, 255);
    color: #000;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}