.caption-link {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.caption-block{
    position: absolute;
    top: 30%;
    left: 15%;
    display: flex;
    justify-content: center;
}

.caption-buttons{
    position: absolute;
    top: 10px;
    right: 0;
}

.caption-images{
    position: absolute;
    top: 10px;
    right: 10px;
}

.card{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    color: black;
    font-size: 225%;
}

.caption-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    animation: blink 1s infinite;
    display: inline-block;
    width: 95%;
    text-align: center;
}


#text{
    opacity: 100%;
}

.content {
    padding: 0;
}

.image-link{
    margin: 0px;
    width: 75px;
    height: 75px;
}

.image-links{
    gap: 30px;
}


@media(max-width:1920px){
    .card-text{
        font-size: 225%;
    }
}

@media(max-width:1440px){
    .card-text{
        font-size: 180%;
    }
}

@media(max-width:1024px){
        .card-text{
            font-size: 130%;
        }

}

@media(max-width:767px){
    .card-text{
        font-size: 110%;
    }

    .block-3{
        top: 0;
    }

}

@media(max-width:425px){
    .card-text{
        font-size: 60%;
    }

}